<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://picsum.photos/800/400);">
  <div class="container">
    <h1 class="text-center" >Index Lists</h1>
  </div>
</div>
<br>
<div class="container">
  <div class="cards">
    <% @lists.each do |l| %>
      <%= link_to  list_path(l), style: 'text-decoration: none'  do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= l.photo.attached? ? (cl_image_path l.photo.key, height: 300, crop: :fill) : ('https://picsum.photos/800/400') %>)">
            <h2><%= l.name %></h2>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
